.container {
  width: 100%;
  min-height: 50dvh;
  background-color: var(--one);
  border-radius: 5px;
}

.main {
  padding: 15px;
  flex-grow: 3;
}
.main table {
  width: 100%;
}
.main table thead th {
  border: 1px solid black;
}
.main table tbody td {
  border: 1px solid black;
}
.main table tbody button {
  background-color: transparent;
  border: 0;
  color: rgb(190, 0, 0);
}

.main table tbody button:hover {
  text-decoration: underline;
  color: red;
}
