<div class="container">
  <div class="main">
    <h2>Borrow books</h2>
    <hr />
    <table>
      <thead>
        <th>Title</th>
        <th>Author</th>
        <th>status</th>
      </thead>
      <tbody *ngFor="let book of books">
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
        <td>retorned</td>
      </tbody>
    </table>
  </div>
</div>

<div class="account">
  <form action="" hidden>
    <input type="text" placeholder="first name" />
    <input type="text" placeholder="last name" />
    <input type="text" placeholder="email" />
    <input type="text" placeholder="password" />
    <button type="submit">Change</button>
  </form>
</div>
