.container {
  position: relative;
  height: 90dvh;
  scale: 0.5;
  animation: 0.5s fadeIn forwards;
}
.wrapper {
  background-color: var(--one);
  padding: 50px;
  border-radius: 10px;
}
.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.wrapper form input {
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
  border: 1px solid black;
}
.wrapper form button {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 10px;
  border: 0;
  background-color: var(--two);
}
.login {
  margin: auto;
  text-transform: capitalize;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  color: var(--five);
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
