<div class="container-fluid">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2>Sign up</h2>
    <div class="name">
      <div class="first">
        <input
          type="text"
          id="firstname"
          placeholder="first name"
          class="form-control"
          formControlName="firstname"
          required
        />
        <p
          class="InputError"
          *ngIf="
            registerForm.controls['firstname'].invalid &&
            registerForm.controls['firstname'].touched
          "
        >
          first name is required
        </p>
      </div>
      <div class="last">
        <input
          type="text"
          id="lastname"
          placeholder="last name"
          class="form-control"
          formControlName="lastname"
          required
        />
        <p
          class="InputError"
          *ngIf="
            registerForm.controls['lastname'].invalid &&
            registerForm.controls['lastname'].touched
          "
        >
          last name is required
        </p>
      </div>
    </div>
    <div class="email">
      <input
        type="email"
        id="email"
        placeholder="abc@example.com"
        class="form-control"
        formControlName="email"
        required
      />
      <p
        class="InputError"
        *ngIf="
          registerForm.controls['email'].invalid &&
          registerForm.controls['email'].touched
        "
      >
        invalid email
      </p>
    </div>
    <div class="password">
      <input
        type="password"
        id="password"
        placeholder="Password"
        class="form-control"
        formControlName="password"
        required
      />
      <p
        class="InputError"
        *ngIf="
          registerForm.controls['password'].invalid &&
          registerForm.controls['password'].touched
        "
      >
        enter pasword
      </p>
    </div>
    <div class="password">
      <input
        type="password"
        id="confirmPassword"
        placeholder="Password"
        class="form-control"
        formControlName="confirmPassword"
        required
      />
      <p
        class="InputError"
        *ngIf="
          registerForm.controls['confirmPassword'].invalid &&
          registerForm.controls['confirmPassword'].touched
        "
      >
        enter pasword
      </p>
      <p
        class="InputError"
        *ngIf="
          registerForm.errors?.['NotSame'] &&
          registerForm.controls['password'].valid &&
          registerForm.controls['confirmPassword'].valid
        "
      >
        no same password
      </p>
    </div>
    <p class="errorMsg" id="errorMsg"></p>
    <button type="submit" class="btn">Log In</button>
    <hr />
    <div class="links">
      <a href="login">have account?</a>
      <a href="/register">Sign Up</a>
    </div>
  </form>
</div>
