.container-fluid {
  max-width: 80%;
  padding-top: 60px;
}
.container-fluid form {
  margin: auto;
  background-color: var(--one);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 10px;
  max-width: 600px;
}
.container-fluid form h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.name input,
.email input,
.password input {
  width: 100%;
  font-size: 20px;
  border-radius: 0;
  padding: 10px 20px;
  border: solid var(--four);
  border-width: 2px 2px 5px 2px;
  border-radius: 5px;
  background-color: transparent;
}
.name input:focus,
.email input:focus,
.password input:focus {
  outline: none;
  border: solid var(--five);
  border-width: 2px 2px 5px 2px;
}
.notfound {
  opacity: 0;
  transition: 1s;
}
.btn {
  color: black;
  font-weight: 600;
  font-size: 20px;
  width: 60%;
  background-color: var(--two);
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
}
.btn:hover {
  background-color: var(--three);
}
.links {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.error {
  width: max-content;
  color: rgb(205, 40, 40);
  animation: ShowError 0.3s linear;
}
@media screen and (max-width: 600px) {
  .name input,
  .email input,
  .password input {
    font-size: 15px;
    padding: 5px;
  }
  .btn {
    font-size: 15px;
  }
  .links {
    font-size: 10px;
  }
}
@keyframes ShowError {
  from {
    opacity: 0;
  }
}
.name {
  display: flex;
  justify-content: space-between;
}

.name div {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.InputError {
  margin-bottom: 0;
  color: red;
  text-align: start;
  text-transform: capitalize;
  padding-left: 5px;
}

.errorMsg {
  color: rgb(190, 11, 11);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0;
  transition: 0.2s;
}

.password,
.email {
  width: 100%;
}
