<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Online Library</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="login" *ngIf="!LogStatus">Log in</a>
        <a class="nav-link" href="register" *ngIf="!LogStatus">Sign up</a>
        <a class="nav-link" href="account" *ngIf="LogStatus">account</a>
        <a class="nav-link" href="mybooks" *ngIf="LogStatus">my books</a>
        <a class="nav-link" href="login" *ngIf="LogStatus" (click)="logout()"
          >Sign out</a
        >
      </div>
    </div>
  </div>
</nav>
