.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.SearchBar {
  border: 1px solid black;
  border-radius: 10px;
  background-color: var(--one);
  position: relative;
  overflow: hidden;
  display: flex;
}
.SearchBar input {
  width: 94%;
  font-size: 20px;
  padding: 10px 25px;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  margin-left: 0;
  border: 0;
}
.SearchBar button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  background-color: var(--three);
  padding: 0 25px;
  border-radius: 0;
  transition: 0.2s;
  border: 0;
}
.SearchBar button:hover {
  background-color: var(--two);
}
.SearchBar button:active {
  color: var(--three);
  background-color: var(--one);
}
.msg {
  padding: 15px 0;
  color: rgb(239, 115, 115);
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0;
  transition: 0.3s;
}

.result {
  background-color: var(--one);
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 0;
  padding: 20px;
  transition: 1s ease-in-out;
}
.result .notfound {
}
.result .found {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 20px;
  height: 100%;
  overflow-y: scroll;
}
app-small-bookdetail {
  height: max-content;
}

@media screen and (max-width: 600px) {
  .SearchBar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
  }
  .SearchBar button {
    position: relative;
  }
  .SearchBar input {
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
  }
}
