<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="input">
    <div class="SearchBar">
      <input
        [(ngModel)]="searchArg"
        id="input"
        type="text"
        placeholder="Search tittle, year or author"
      />
      <button type="submit" class="btn" (click)="send()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <p class="msg" id="msg"></p>
  </div>
  <!-- result window -->
  <div class="result" id="result">
    <!-- 404 -->
    <div class="notfound" id="notfound">
      <h1>No Found, try again</h1>
    </div>

    <!-- 200 -->
    <div class="found" id="found">
      <app-small-bookdetail
        *ngFor="let book of books"
        (click)="showDetails(book)"
        [book]="book"
        (action)="say($event)"
      ></app-small-bookdetail>
    </div>
  </div>
</div>
<app-book [book]="book" (close)="onClose()" *ngIf="book"></app-book>
