<div class="container position-absolute top-50 start-50 translate-middle">
  <div class="input">
    <div class="SearchBar">
      <input
        [(ngModel)]="searchArg"
        id="input"
        type="text"
        placeholder="Search tittle, year or author"
      />
      <button type="submit" class="btn" (click)="Search()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <p class="msg" id="connection-msg"></p>
  </div>
  <!-- result window -->
  <div
    class="result"
    id="result"
    *ngIf="ShowResponse"
    [@HideNShow]="IsData ? 'data' : 'notData'"
  >
    <!-- 404 -->
    <h1 class="404" *ngIf="!IsData">No Found, try again</h1>

    <!-- 200 -->
    <div class="found" id="found" *ngIf="IsData">
      <app-small-bookdetail
        *ngFor="let book of books"
        (click)="showDetails(book)"
        [book]="book"
      ></app-small-bookdetail>
    </div>
  </div>
</div>
<app-book [book]="book" (close)="onClose()" *ngIf="book"></app-book>
