<!-- <div class="container">
  <div class="header">
    <h1>Misc...</h1>
  </div>
  <section>
    <div class="wrapper">
      <label for="HandS">Show/Hide</label
      ><input type="checkbox" name="HandS" id="HandS" [(ngModel)]="IsShow" />
    </div>
    <div class="content">
      <h5 [@Grow]="IsShow ? 'open' : 'close'">Header</h5>
    </div>
  </section>
  <div class="header">
    <h1>Reading</h1>
  </div>
  <section>
    <label for="search">Local search</label>
    <input type="text" id="search" placeholder=" " [(ngModel)]="SearchInput" />
    <button class="Search" (click)="Search()">Search</button>
  </section>

  <section>
    <label for="subscribed">subscribed books</label>
    <input
      type="text"
      id="subscribed"
      placeholder=" "
      [(ngModel)]="subscribedInput"
    />
    <button class="Search" (click)="subscribed()">Search</button>
  </section>

  <section>
    <label for="user">user search</label>
    <input type="text" id="user" placeholder=" " [(ngModel)]="userInput" />
    <button class="Search" (click)="user()">Search</button>
  </section>

  <div class="header">
    <h1>Creating</h1>
  </div>

  <section>
    <form
      class="subscribeForm"
      [formGroup]="Subscribe"
      (ngSubmit)="subscribe()"
    >
      <div>
        <label for="subscribe_UI">user</label
        ><input
          type="number"
          id="subscribe_UI"
          formControlName="userId"
          min="0"
        />
      </div>
      <div>
        <label for="subscribe_BI">book</label
        ><input
          type="number"
          id="subscribe_BI"
          formControlName="bookId"
          min="0"
        />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
      <div>
        <p id="notificationS"></p>
      </div>
    </form>
  </section>

  <section>
    <form [formGroup]="Register_User" (ngSubmit)="RegisterUser()">
      <div>
        <label for="FirstName">First name</label
        ><input type="text" id="FirstName" formControlName="FirstName" />
      </div>
      <div>
        <label for="Lastname">Last name</label
        ><input type="text" id="Lastname" formControlName="Lastname" />
      </div>
      <div>
        <label for="Password">Password</label
        ><input type="text" id="Password" formControlName="Password" />
      </div>
      <div>
        <label for="Email">Email</label
        ><input type="text" id="Email" formControlName="Email" />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
      <div>
        <p id="notificationU"></p>
      </div>
    </form>
  </section>
</div> -->
