.wrapper {
  position: relative;
  background: transparent;
  border-radius: 15px;
  width: 450px;
  height: 550px;
  scale: 0.9;
  opacity: 0;
  animation: 0.5s appear forwards;
}
.wrapper form {
  position: absolute;
  inset: 1px;
  background: var(--one);
  padding: 40px 50px;
  border-radius: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.wrapper form h1 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
}
.inputbox {
  position: relative;
}
.wrapper form .inputbox input {
  padding: 5px 10px;
  border: 1px solid black;
  border-width: 0 0 1px 0;
  outline: 0;
  font-size: 25px;
  background: transparent;
  width: 100%;
}
.error {
  margin: auto;
  padding-left: 5px;
  color: red;
  font-size: 13px;
}

.links {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 20px;
}
.submit {
  position: relative;
  width: 60%;
  height: 15%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.submit input[type="submit"] {
  position: absolute;
  inset: 2px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 10px;
  color: black;

  background-color: var(--three);
  transition: 0.3s;
}
.submit input[type="submit"]:hover {
  background-color: var(--two);
}
@keyframes appear {
  to {
    opacity: 1;
    scale: 1;
  }
}
.wrongInput {
  color: red;
  width: 100%;
  text-align: center;
  transition: 0.5s;
  opacity: 0;
}
