.container-fluid {
  max-width: 80%;
  padding-top: 60px;
}
.container-fluid form {
  margin: auto;
  background-color: var(--one);
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  max-width: 500px;
}
.container-fluid form h2 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
.container-fluid .form-control {
  font-size: 20px;
  border-radius: 0;
  padding: 10px 20px;
  border: 1px solid var(--four);
  border-radius: 10px;
  background-color: transparent;
}
.notfound {
  opacity: 0;
  transition: 1s;
}
.btn {
  color: black;
  font-weight: 600;
  font-size: 20px;
  width: 60%;
  background-color: var(--two);
  padding: 10px 20px;
  border-radius: 10px;
}
.btn:hover {
  background-color: var(--three);
}
.links {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.error {
  width: max-content;
  color: rgb(205, 40, 40);
  animation: ShowError 0.3s linear;
}
@keyframes ShowError {
  from {
    opacity: 0;
  }
}
