<div class="wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Sign in</h1>
    <div class="inputbox">
      <input type="email" placeholder="Email" formControlName="Email" />
      <p
        class="error"
        *ngIf="
          loginForm.controls['Email'].invalid &&
          loginForm.controls['Email'].touched
        "
      >
        Enter valid email
      </p>
    </div>
    <div class="inputbox">
      <input
        type="password"
        placeholder="Password"
        required
        formControlName="Password"
        id="password"
      />
      <p
        class="error"
        *ngIf="
          loginForm.controls['Password'].invalid &&
          loginForm.controls['Password'].touched
        "
      >
        Please enter password
      </p>
    </div>
    <div class="links">
      <a href="#">forget password?</a>
      <a href="/register">sign up</a>
    </div>
    <div class="submit">
      <input class="button" type="submit" value="Login" />
    </div>
    <p class="wrongInput" id="wrongInput">
      wrong password or email, please try again
    </p>
  </form>
</div>
