.container {
  width: 100%;
  min-height: 50dvh;
  background-color: var(--one);
  border-radius: 5px;
  animation: 0.3s Show linear;
  position: relative;
  font-size: 35px;
}
.header {
  display: flex;
  text-transform: capitalize;
  font-size: 0.45em;
  gap: 5px;
}
.header .title,
.header .author {
  width: 40%;
}
.header .status {
  width: 10%;
  text-align: end;
}
.main {
  padding: 30px 15px;
  flex-grow: 3;
}
.main .booklist {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main .book {
  animation: 1s drop linear;
  transition: 0.1s linear;
  display: flex;
  background-color: rgba(142, 217, 193, 0.5);
  padding: 10px 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bebaba, -5px -5px 10px #ffffff;
  cursor: pointer;
  gap: 5px;
}
.main.book:active {
  animation: 1s clicked linear;
}
.main .book:hover {
  transform: scale(1.02);
}
.main .book > p {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px 10px 10px;
  font-size: 0.45em;
}
.main .book .author,
.main .book .title {
  width: 40%;
  text-align: start;
}
.book .status {
}

.small {
  width: 95%;
  margin: 0 auto;
  display: none;
}
.small h1 {
  text-align: start;
  font-size: 0.8em;
}
.small .booklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.small .booklist .book {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 10px 0;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgba(142, 217, 193, 0.5);
  border-radius: 5px;
  overflow: hidden;
}
.small .booklist .book p:first-child {
  width: 100%;
}
.small .booklist .book p {
  width: 45%;
  font-size: 0.4em;
  padding: 0 15px;
  text-align: start;
}
.small .booklist .book span {
  text-transform: capitalize;
  font-size: 0.8em;
  font-weight: 700;
}
.small .booklist .book span::after {
  content: "\a";
  white-space: pre;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    animation: none;
    border-radius: 0;
    padding: 10px 0;
  }
  .small {
    display: block;
  }
  .main {
    display: none;
  }
}
@keyframes Show {
  from {
    scale: 0.8;
  }
}
@keyframes clicked {
  50% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1.1);
  }
}
