.detailbox {
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  font-size: 25px;
}
.detailbox .thisbook {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  width: 70%;
  animation: 0.2s Show linear;
  max-height: 80dvh;
  overflow-y: scroll;
}
.detailbox .thisbook h1 {
  font-size: 1.2em;
}
.thisbook p {
  text-align: start;
  display: block;
  color: var(--four);
  font-weight: 600;
  font-size: 1em;
}

.thisbook span {
  font-size: 0.6em;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--five);
}
.thisbook .description {
  text-align: justify;
}

.thisbook .contact {
  padding: 5px 15px;
  border: 2px solid var(--three);
  background-color: transparent;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.75em;
  transition: 1s;
}
.thisbook .contact:hover {
  transform: translateY(-5px);
}
.thisbook .contact:active {
  transform: scale(0.9);
  transition: 0.1s;
}
.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 50px;
  padding: 5px 15px;
  color: black;
  border-radius: 100%;
  border: 0;
  transition: 0.5s;
  background-color: transparent;
}
.closeBtn:hover {
  scale: 1.2;
  color: var(--five);
  transform: rotate(90deg);
}
@media screen and (max-width: 600px) {
  .detailbox {
    font-size: 15px;
  }
  .detailbox .thisbook {
    padding: 10px 25px 20px 20px;
    width: 95%;
  }
  .thisbook span::after {
    content: "\a";
    white-space: pre;
  }
}
@keyframes Show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
}
