.detailbox {
  position: absolute;
  top: 0%;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  font-size: 20px;
}
.detailbox .wrapper {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 15px 5px 10px 20px;
  border-radius: 10px;
  width: 90%;
  animation: 0.2s Show linear;
}
.detailbox .thisbook {
  overflow-y: auto;
  max-height: 70dvh;
  padding-right: 30px;
}

.wrapper h1 {
  font-size: 1.2em;
}
.thisbook p {
  text-align: start;
  display: block;
  color: var(--four);
  font-weight: 600;
  font-size: 1em;
}

.thisbook span {
  font-size: 0.8em;
  font-weight: 800;
  text-transform: capitalize;
  color: var(--five);
  padding-right: 10px;
}
.thisbook .description {
  text-align: justify;
}

.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 50px;
  padding: 5px 15px;
  color: black;
  border-radius: 100%;
  border: 0;
  transition: 0.5s;
  background-color: transparent;
}
.closeBtn:hover {
  scale: 1.2;
  color: var(--five);
  transform: rotate(90deg);
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
}
.buttons .contact {
  position: relative;
  padding: 5px 15px;
  border: 2px solid var(--three);
  background-color: transparent;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.75em;
  transition: 1s;
  z-index: 2;
}
.thisbook .contact::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateY(30px);
  z-index: -1;
  transition: 0.5s;
}
.thisbook .contact:hover::before {
  background-color: var(--three);
  transform: translateY(0px);
}
.thisbook .contact:active {
  transform: scale(0.95);
  transition: 0.1s;
}

@media screen and (max-width: 600px) {
  .detailbox {
    font-size: 15px;
  }
  .detailbox .wrapper {
    width: 97%;
  }
  .detailbox .thisbook {
    padding: 5px 10px 20px 0px;
  }
  .thisbook span::after {
    content: "\a";
    white-space: pre;
  }
  .buttons {
    width: 100%;
    justify-content: center;
    gap: 10px;
  }
}
@keyframes Show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
}
